.markdown {
    max-width: clamp(50ch, 70vw, 75ch);
}

.markdown h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.markdown h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    color: cadetblue;
}

.markdown p {
    line-height: 1.8;
    margin-bottom: 1rem;
}

.markdown ul {
    margin-left: 2rem;
}

.markdown li {
    margin-bottom: 0.5rem;
}

.markdown hr {
    border: none;
    border-top: 1px solid #c1c1c1;
    margin: 2rem 0;
}