:root{
	--bgdim: #1E2326;
	--bg0: #272E33;
	--bg2: #374145;
	--bg3: #414B50;
	--bg5: #4F5B58;
	--grey0: #7A8478;
	--bggreen: #3C4841;
	--text: #D3C6AA;
	--blue: #7FBBB3;
	--red: #E67E80;
	--backgroundblue: #3F5865;
	--primary:#A7C080;
	--primary-alt: #B8D395;
}

:root{
	min-height: 100vh;
    font-family: "JetBrainsMonoNL";
}

main {
	flex: 1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bgdim);
    min-height: 100vh;
    line-height: 1.5;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

table {
    border-collapse: collapse;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 100ch;
    margin: 0 auto;
    z-index: 2;
    background-color: var(--bg0);
    /*border-left: 2px dashed var(--primary);*/
    /*border-right: 2px dashed var(--primary);*/
}

#content{
	display: flex;
	text-wrap: wrap;
	flex: 1;
	padding: 1rem;
	color: var(--text);
}

@font-face {
    font-family: "JetBrainsMonoNL";
    src: url("src/assets/fonts/JetBrainsMonoNL-Regular.ttf");
}
